body {
  height: 100%;
  margin: 0;
}


.loader {
  display: flex;
  margin-top: 19%;
  align-items: center;
  flex-direction: column;

}

.loader p {
  margin-bottom: 2%;
}

.dashboardPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #dee2e6;
}

.content {
  display: flex;
  flex: 1;
  background-color: #dee2e6;
}

.dashboardPage__main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
